<div class="container">
    <div class="header">
        <header>Dự án</header>
    </div>
    <div class="filter-bar">
        <div class="search">
            <input type="text" [(ngModel)]="searchStr" class="search__input" placeholder="Nhập tên dự án hoặc vị trí...">
            <span class="search__button">
                <svg class="search__icon" aria-hidden="true" viewBox="0 0 23 23">
                    <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                </svg>
            </span>
        </div>
        
    </div>
    <div class="list-projects">
        @let filterProjects = filterProject();
        @if (filterProjects.length == 0) {
            <div class="not-found-data" data-aos="fade-up" data-aos-duration="500">
                <span >Not found project</span>
            </div>
        } @else {
            @for (project of filterProjects; track $index; let idx = $index) {
                <div class="project" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="idx * 100"
                    (click)="viewProjectGallery(project)"
                >
                    <div class="img-overview">
                        <img [src]="project.cover_img" alt="">
                    </div>
                    <label for="">{{project.name}}</label>
                    <div class="location">{{project.location}}</div>
                </div>
            }
        }
    </div>
</div>