<main>
    <app-navbar
        [style]="{
            padding: _mainService.lastYScroll == 0 ? '20px 15px' : '15px',
            position: _mainService.navPosition,
            backgroundColor: _mainService.isOverlayNavbar() ? 'transparent':'var(--neutral-color)',
            color: _mainService.isOverlayNavbar() ? 'var(--neutral-color)':'var(--dark-color)'
        }"
    ></app-navbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</main>