:host {
    position: relative;
}
app-navbar {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition-duration: 250ms;
}



main {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 100%;
}