.blog {
    margin: 30px 20%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.blog-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9em;
    cursor: pointer;
    transform-origin: 250ms;
    user-select: none;
}

.blog-header:hover {
    filter: brightness(0.97);
}
.blog-header:active, .blog-header:focus {
    filter: brightness(0.95);
}

.blog .title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
.blog .publish_date {
    font-size: 0.9em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.blog .content {
    font-size: 1em !important;
    width: 100%;
}

.content > * {
    line-height: 1.5;
    color: var(--dark-color) !important;
}

.blog > * {
    line-height: 1.5;
}

.img_overview {
    width: 100%;
    border-radius: 6px;
}

@media only screen and (max-width: 768px)
{
    .blog {
        margin: 20px 1em;
    }    
}