.blog {
    margin: 30px 20%;
    font-size: 1rem;
}

.blog .title {
    font-size: 1.5em;
    font-weight: 600;
}
.blog .category {
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5)
}

.blog .content {
    font-size: 1em;
}

@media only screen and (max-width: 768px)
{
    .blog {
        margin: 10px 1em;
    }    
}