<div class="header">
    <div class="header_img">
        <img src="../../../../../assets/panel/DosVistas.jpg" width="100%" height="100%" alt=""/>
    </div>
    <div class="header_content">
        <header>We create<br>your homes</header>
        <span>Lorem ipsum dolor sit amet. Et explicabo autem ut ipsam pariatur et sapiente reprehenderit et accusantium dolorum et recusandae voluptatum eum tempora labore et dolore voluptatem.
        </span>
    </div>
</div>

<div class="work">
    <div class="slogan">
        "Lorem ipsum dolor sit amet. Et explicabo autem ut ipsam pariatur et sapiente reprehenderit et accusantium dolorum et recusandae voluptatum."
    </div>
    <div class="work_img">
        <img src="../../../../../assets/work/ceo.jpg" width="100%" height="100%" alt=""/>
    </div>
</div>

<div class="major">
    <div class="major_header">
        <header>What We Do</header>
        <div class="divider"></div>
    </div>
    <div class="major_content">
        <div>
            <img src="../../../../../assets/work/one.png" alt="">
            <header>
                Interior Design Firm
            </header>
            <span>We’re first and foremost an interior design firm under the direction of our chief creative officer, Shea McGee. We have garnered a reputation for creating beautifully balanced spaces that are both classic and current.</span>
        </div>
        <div>
            <img src="../../../../../assets/work/two.png" alt="">
            <header>
                Editorial Content
            </header>
            <span>Drawing from the expertise of Shea and the Studio McGee aesthetic, we're an editorial platform, lifestyle destination, and trusted design resource, celebrating the art of living well through design, food, travel, and fashion.</span>
        </div>
        <div>
            <img src="../../../../../assets/work/three.png" alt="">
            <header>
                Product Design
            </header>
            <span>Our sister site and product arm, McGee & Co., features exclusive furniture pieces and styling accessories by Shea McGee, as well as collaborations and partnerships with companies that share in the McGee & Co. aesthetic.</span>
        </div>
    </div>
</div>

<div class="journey">
    <div class="journey_header">
        <header>Our Journey</header>
        <div class="divider"></div>
    </div>

    <div class="journey_container">
        <div class="journey_item">
            <div class="journey_content">
                <div class="img_overview">
                    <img src="../../../../../assets/journey/first.jpg" width="480px" height="360px" alt="">
                </div>
                <div class="description">
                    <header>Header 1</header>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo rerum est maxime facilis nesciunt, ut soluta eveniet asperiores amet temporibus quod laudantium nemo doloremque autem praesentium illo iste possimus sunt!
                    </p>
                </div>
            </div>
            <div class="timestamp">2000</div>
        </div>
        <div class="journey_item">
            <div class="journey_content">
                <div class="img_overview">
                    <img src="../../../../../assets/journey/second.jpg" width="480px" height="360px" alt="">
                </div>
                <div class="description">
                    <header>Header 2</header>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo rerum est maxime facilis nesciunt, ut soluta eveniet asperiores amet temporibus quod laudantium nemo doloremque autem praesentium illo iste possimus sunt!
                    </p>
                </div>
            </div>
            <div class="timestamp">2010</div>
        </div>
        <div class="journey_item">
            <div class="journey_content">
                <div class="img_overview">
                    <img src="../../../../../assets/journey/third.jpg" width="480px" height="360px" alt="">
                </div>
                <div class="description">
                    <header>Header 3</header>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo rerum est maxime facilis nesciunt, ut soluta eveniet asperiores amet temporibus quod laudantium nemo doloremque autem praesentium illo iste possimus sunt!
                    </p>
                </div>
            </div>
            <div class="timestamp">2016</div>
        </div>
        <div class="journey_item">
            <div class="journey_content">
                <div class="img_overview">
                    <img src="../../../../../assets/journey/fourth.jpg" width="480px" height="360px" alt="">
                </div>
                <div class="description">
                    <header>Header 4</header>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo rerum est maxime facilis nesciunt, ut soluta eveniet asperiores amet temporibus quod laudantium nemo doloremque autem praesentium illo iste possimus sunt!
                    </p>
                </div>
            </div>
            <div class="timestamp">2024</div>
        </div>
    </div>
</div>