<div class="container">
    <div class="carousel" data-aos="fade-up" data-aos-duration="500">
        <div class="carousel_item">
            <div>
                <img [src]="'https://cocostudio.vn/projects/THE%20VISTA%20DUPLEX/TOM3981-HDR.jpg'" width="100%" height="100%" alt="" loading="lazy">
                <div class="header">
                    <header>Về công ty</header>
                    <span>Coco Studio</span>
                </div>
            </div>
        </div>
    </div>

    <div class="about-content">
        <p data-aos="fade-up" data-aos-duration="500">
            Tại <b>COCOSTUDIO</b> chúng tôi tin rằng, một không gian sống không chỉ đơn thuần là để ở, mà còn là sự phản chiếu cá tính, thói quen sinh hoạt và văn hóa sống của mỗi người.
        </p>
        <div class="divider-vertical divider-dark" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="100"></div>
        <p data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="200">
            Với Triết Lý <b>“Thiết Kế May Đo”</b> chúng tôi mang đến những giải pháp nội thất tinh tế, cá nhân hóa từng chi tiết để không gian sống như “chiếc áo” đã được may đo vừa vặn, phù hợp hoàn hảo với từng khách hàng.
        </p>
        <div class="divider-vertical divider-dark" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="300"></div>
        <p data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="400">
            Chúng tôi không chạy theo xu hướng, mà tập trung vào việc tạo ra những không gian bền vững, khoa học, thẩm mỹ và giàu cảm xúc. Mỗi dự án là một câu chuyện riêng, nơi chất liệu, màu sắc và ánh sáng hòa quyện để kiến tạo một tổ ấm trọn vẹn.
        </p>
        <div class="divider-vertical divider-dark" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="500"></div>
        <p data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="600">
            Đặt <b>Khách Hàng</b> làm trọng tâm, bằng sự chân thành, tận tâm và chuyên nghiệp, <b>COCOSTUDIO</b> luôn đồng hành cùng khách hàng trong suốt quá trình <b>Thiết Kế</b> và <b>Thi Công</b>, để biến ý tưởng thành hiện thực và mang đến một không gian sống đúng với tiêu chí khách hàng.
        </p>
    </div>
</div>