.container {
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 3rem;
    padding: 30px;
    overflow: hidden;
    font-weight: 600;
}

.header header {
    letter-spacing: 1px;
}

.header .divider {
    width: 10ch;
    height: 2px;
    background-color: var(--dark-color);
    animation: dividerAnimation 500ms ease-in-out 0;
}

.header-anination {
    animation-name: headerChange;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    color: black;
    background-color: var(--neutral-color);
}
.overview > div {
    width: 100ch;
    text-align: center;
}

.list-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.overlap-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.service .img-overview {
    overflow: hidden;
    width: 100%;
}

.service label {
    font-size: 1.7em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.service .description {
    max-width: 50ch;
}

.img-overview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 6px;
}


/* Ipad Viewport */
@media screen and (max-width: 768px) {
    .list-services {
        grid-template-columns: 100%;
    }

    .overview {
        font-size: 1rem;
        width: 100%;
        padding: 20px;
    }

    .overview > div {
        width: auto;
    }
    .header {
        font-size: 1.5rem;
    }
  }


@keyframes headerChange {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dividerAnimation {
    from {
        width: 0ch;
    }
    to {
        width: 10ch;
    }
}