<div class="container">
    <div class="header">
        <header class="header-anination">{{Service.GENERAL.toLocaleUpperCase()}}</header>
    </div>

    <div class="content">
        <div class="overview">
         <div data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="100">
            Cocostudio cung cấp các dịch vụ giúp xây nên ngôi nhà mơ ước của bạn một các hoàn hảo nhất : bao gồm TK - TC - Cải tạo làm mới không gian sống. Bên cạnh đó, chúng tôi còn thực hiện các công trình khác như văn phòng, Spa, showroom..giúp các khách hàng thể hiện được màu sắc - cá tính - văn hóa mà thương hiệu muốn truyền tải.
         </div>
         <div data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="200">
            Với đội ngũ giàu kinh nghiệm và quy trình chuyên nghiệp, khi làm việc với Coco Studio bạn hoàn toàn có thể yên tâm về chất lượng cũng như quy trình làm việc. 
         </div>
         <div data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="300">
            Chúng tôi tận tâm trong từng chi tiết, từ lên ý tưởng, lựa chọn vật liệu đến thi công hoàn thiện, đảm bảo chất lượng và tính minh bạch trong suốt quá trình.  Chúng tôi luôn đặt hết tâm quyết của mình vào từng dự án, để mang đến thành quả tốt nhất và làm khách hàng hài lòng. 
         </div>   
        </div>
        <div class="list-services">
            @for (service of _mainService.services; track $index; let idx = $index) {
                <div class="service" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="idx * 100">
                    <div class="img-overview">
                        <img [src]="service.imgFileName" alt="">
                    </div>
                    <label for="">{{service.label}}</label>
                    <div class="description">{{service.description}}</div>
                </div>
            }
        </div>
    </div>

    
</div>