<div>
    <div class="carousel" data-aos="fade-up" data-aos-duration="500">
        <div *ngFor="let item of carouselItem; index as i" class="carousel_item"
            [style.opacity]="selectCarouselIndex == i ? 1 : 0">
            <div>
                <img [src]="item.itemUrl" width="100%" height="100%" alt="" loading="lazy">
                <caption>{{item.caption}}</caption>
            </div>
        </div>
        <div class="control">
            <div style="position: relative; width: 100%; height: 100%;">
                <div class="arrow_left" (click)="onDecrease()">
                    <ng-icon name="heroArrowLeft"></ng-icon>
                </div>
                <div class="shortcut">
                    <div *ngFor="let item of carouselItem; index as i" class="shortcut_item"
                        [ngClass]="{ active: selectCarouselIndex == i }" (click)="selectCarouselIndex = i"></div>
                </div>

                <div class="arrow_right" (click)="onIncrease()">
                    <ng-icon name="heroArrowRight"></ng-icon>
                </div>
            </div>
        </div>
    </div>

    <section #service>
        <div class="service_section">
            <div class="service_header">
                <header class=" header">Dịch vụ</header>
                <!-- <div class="outline-btn" (click)="exploreMore()">
                    Xem thêm
                </div> -->
            </div>
            @for (service of _mainService.services; track $index; let index = $index) {
            <div class="service_item" data-aos="fade-up" data-aos-duration="500">
                <div class="img-overview" >
                    <img [src]="service.imgFileName" alt="" loading="lazy">
                </div>
                <label style="text-align: center;" for="">{{ service.label
                    }}</label>
                <!-- <div class="service_content" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="100">
                {{ service.description }}
            </div> -->
            </div>
            }
        </div>
    </section>
    <section #blog>
        <div class="blog-section"  data-aos="fade-up" data-aos-duration="500">
            <div class="flex align-items-center justify-between" style="padding: 0 20px;">
                <header class="header">Bài blog mới</header>
                <div class="flex align-items-center gap-10 view-all-blog" routerLink="/blog">
                    <span>Xem tất cả</span>
                    <ng-icon name="heroArrowRight"></ng-icon>
                </div>
            </div>
            <div class="control">
                <div style="position: relative; width: 100%; height: 100%;">
                    <div class="arrow_left" (click)="onBlogBackward()">
                        <ng-icon name="heroArrowLeft"></ng-icon>
                    </div>
                    <div class="arrow_right" (click)="onBlogForward()">
                        <ng-icon name="heroArrowRight"></ng-icon>
                    </div>
                </div>
            </div>
            <div class="blog-list" #blogListContainer>
                <div *ngFor="let post of posts" class="blog-card" (click)="navigateBlog(post.slug)">
                    <div class="blog-img_overview">
                        <img [src]="post.img_overview" [alt]="blog.id" loading="lazy">
                    </div>
                    <div class="blog-sub-title">
                        <div class="blog-category">{{post.category.name}}</div>
                        -
                        <div class="blog-published-date">{{ post.publishedAt | date: "dd/MM/yyyy"  }}</div>
                    </div>
                    <div class="blog-title">
                        {{ post.title }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section #portfolio>
        <div class="portfolio_section">
            <div class="portfolio_header">
                <header>Dự án nổi bật</header>
                <div class="header-underline"></div>
            </div>
            <div class="portfolio_content" data-aos="fade-up"
                    data-aos-duration="1000">
                @for (project of _dataService.projects; track $index) {
                <div class="portfolio_item" (click)="viewProjectGallery(project)" >
                    <img class="portfolio_img" [src]="project.cover_img" alt="">
                    <div class="portfolio_title">
                        {{project.name}}
                    </div>
                    <!-- <div class="portfolio_brief">
                        {{project.description}}
                    </div> -->
                </div>
                }
            </div>
        </div>
    </section>

    <section #media>
        <div class="media_section">
            <div class="media_header">
                <header>Sự kiện công ty</header>
                <div class="header-underline-dark"></div>
            </div>
            <div class="media_container loading">
                @if (_dataService.medias.length > 0) {
                    <div class="media_slider" #mediaSlider>
                        <div class="media_list">
                            @for (media of _dataService.medias; track $index) {
                            <div class="media_item">
                                @switch (media.type) {
                                    @case (MediaType.IMAGE) {
                                        <img [src]="'../../../../../assets/media/' + media.url" alt="" class="media_source">
                                    }
                                    @case (MediaType.VIDEO) {
                                        <video loop [src]="'../../../../../assets/media/' + media.url" class="media_source" controls></video>
                                    }
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <!-- <h1 style="color: white;">Loading...</h1> -->
                    <div class="arrow_left" (click)="onSlideBackward()" >
                        <ng-icon name="heroArrowLeft"></ng-icon>
                    </div>
                    <div class="arrow_right" (click)="onSlideForward()">
                        <ng-icon name="heroArrowRight"></ng-icon>
                    </div>
                }
            </div>
        </div>
    </section>

    <section #parner>
        <div class="parner_section">
            <div class="parner_header">
                <header>Đối Tác</header>
                <div class="header-underline"></div>
            </div>
            <div class="parner_content">
                <div class="parner_list">
                    <div data-aos="fade-up" data-aos-duration="500">
                        <img class="parner_img" src="../../../../../assets/parner/goman.jpg" alt="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="500">
                        <img class="parner_img" src="../../../../../assets/parner/dura.jpg" alt="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="500">
                        <img class="parner_img" src="../../../../../assets/parner/eco.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>