<div class="container">
    <div class="blog-header">
        <div class="title">
            <header>Blog</header>
        </div>
        <div class="tool">
            <button class="admin-button-dark" pButton icon="pi pi-plus" (click)="createNewBlog()">Blog mới</button>
        </div>
    </div>

    <div class="post-content" data-aos="fade-up" data-aos-duration="500">
        <p-table
            dataKey="id"
            [loading]="loadingTable" stripedRows 
            [value]="(_posts | async)"
            [tableStyle]="{ 'min-width': '50rem', 'font-size': '1em' }"
            [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [globalFilterFields]="['title', 'category.name', 'status']"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id" editMode="row">
            <ng-template #header>
                <tr>
                    <!-- <th pSortableColumn="id">
                        ID <p-sortIcon field="id"></p-sortIcon>
                    </th> -->
                    <th style="white-space: nowrap;" pSortableColumn="title">
                        Chủ đề <p-sortIcon field="title"></p-sortIcon>
                    </th>
                    <th style="white-space: nowrap;" pSortableColumn="category.name">
                        Phân loại <p-sortIcon field="category.name"></p-sortIcon>
                    </th>
                    <th style="white-space: nowrap;" pSortableColumn="status">
                        Trạng thái <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th style="white-space: nowrap;" pSortableColumn="publishedAt">
                        Ngày xuất bản <p-sortIcon field="publishedAt"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-post let-ri="rowIndex" let-editing="editing">
                <tr>
                    <!-- <td>{{ post.id }}</td> -->
                    <td>{{ post.title }}</td>
                    <td style="white-space: nowrap;">{{ post.category.name }}</td>
                    <td>
                        <span style="white-space: nowrap;" class="post-status" [ngClass]="{ 'publish' : post.status == POST_STATUS.PUBLISH, 'draft': post.status == POST_STATUS.DRAFT }">
                            {{ POST_STATUS_MAP[post.status] }}
                        </span>
                    </td>
                    <td>
                        @if (post.status == POST_STATUS.DRAFT) {
                            <button [loading]="publishing == post.id" pButton label="Xuất bản" icon="pi pi-send" class="admin-button-dark" (click)="publishPost(post.id)"></button>
                        } @else {
                            {{ post.publishedAt == null ? '---' : post.publishedAt | date:'dd/MM/yyyy' }}
                        }
                    </td>
                    <td>
                        <div class="flex items-center justify-center gap-2">
                            <button pButton pRipple type="button" icon="pi pi-eye" text rounded severity="secondary"
                                (click)="previewPost(post.id)"></button>
                            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editPost(post.id)" text rounded severity="secondary"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" (click)="deletePost(post.id)" text rounded severity="secondary"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<p-dialog
    [visible]="isPreview" header="Bản xem trước" [modal]="true" [style]="{ width: '80%' }" [maximizable]="true"
    maskStyleClass="backdrop-blur-sm" styleClass="!border-0 !bg-transparent">
    <ng-template #headless>
        <div style="margin: 20px;">
            <div class="flex" style="justify-content: space-between; margin-bottom: 20px; align-items: center;">
                <header style="font-size: 1.5em;"><b>Bản xem trước</b></header>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="hidePreview()" />
            </div>
            <div class="blog-container" *ngIf="selectedPost">
                <h1 class="title">{{ selectedPost.title }}</h1>
                <!-- <small class="publish-time">{{ selectedPost.publishedAt | date }}</small> -->

                <small class="category">{{ selectedPost.category.name }}</small>
                <div class="tags">
                    @for (tag of selectedPost.tags; track $index) {
                        <div>{{ tag.name }}</div>
                    }
                </div>
                <img class="img_overview" [src]="selectedPost.img_overview" alt="">
                @if (previewContent) { <div class="content" [innerHTML]="previewContent"></div> }
            </div>
        </div>
    </ng-template>
</p-dialog>
<p-confirmdialog />