.container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 3rem;
    padding: 30px;
    overflow: hidden;
}

.header header {
    letter-spacing: 1px;
}

.contact-content {
    padding: 20px;
    border-radius: 6px;
    border: 2px solid var(--dark-color);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    
}

.contact-content .overview {
    grid-column: span 3;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600;
}

.contact-content .info header {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.price-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
.send-request-bn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    grid-column: span 3;
}

.vertical-divider {
    display: block;
}

.horizontal-divider {
    display: none;
}

@media only screen and (max-width: 768px)
{
    .header {
        padding-bottom: 0;
    }
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact-content {
        grid-template-columns: 1fr;
        border: none;
        padding-top: 0;
    }
    .horizontal-divider {
        display: block;
    }
    .vertical-divider {
        display: none;
    }

    .form .form-content {
        row-gap: 2px;
    }
    .form .form-content > *:nth-child(even) {
        margin-bottom: 7px;
    }
    .form .form-content > * {
        grid-column: span 2 !important;
    }

    .contact-content .overview, .send-request-bn {
        grid-column: auto;
    }   
}