<div #navbar class="navbar">
    <div routerLink="/" style="cursor: pointer; display: flex; align-items: center; justify-content: center;">
        <img [src]="'../../../assets/logo.png'" width="150px" alt="">
    </div>
    <div class="navbar_menu">
        <a class="navbar_item" *ngFor="let item of _mainService.menu" (click)="onNavigate(item)"
            >
            {{item.title}}
        </a>
    </div>
    <div class="social_media_contact">
        <a target="_blank" class="social_link" href="https://www.facebook.com/Cocostudio.Interior">
            <fa-icon [icon]="IconFacebook"></fa-icon>
        </a>
        <a target="_blank" class="social_link" href="https://www.instagram.com/coco.studiosaigon">
            <fa-icon [icon]="IconInstagram"></fa-icon>
        </a>
        <div class="navbar_menu">
            <a class="navbar_item"  (click)="headToAdmin()">Quản trị</a>
        </div>
    </div>
    <button class="burger-menu-btn" #burgerMenuButton (click)="toggleMenu()" aria-label="Toggle menu" aria-expanded="false">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
    </button>
</div>


<p-drawer header="" [(visible)]="isShowBurgerMenu" position="right" [style]="{'background-color' :  'var(--neutral-color)'}">
    <div class="burger-nav">
        <div routerLink="/" style="cursor: pointer;">
            <img [src]="'../../../assets/logo.png'" width="150px" alt="">
        </div>
        <div class="burger-menu">
            <a class="burger-item" *ngFor="let item of _mainService.menu" (click)="onNavigate(item)"
                >
                {{item.title}}
            </a>
        </div>
        <div class="burger-social_media_contact">
            <a target="_blank" class="social_link" href="https://www.facebook.com/Cocostudio.Interior">
                <fa-icon [icon]="IconFacebook"></fa-icon>
            </a>
            <a target="_blank" class="social_link" href="https://www.instagram.com/coco.studiosaigon/">
                <fa-icon [icon]="IconInstagram"></fa-icon>
            </a>
            <div class="navbar_menu">
                <a class="navbar_item"  (click)="headToAdmin()">Quản trị</a>
            </div>
        </div>
    </div>
</p-drawer>