<main>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="form-login">
            <div class="header">
                Welcome <header>Cocostudio</header>
            </div>
        
            <div class="form">
                <div class="form-content" [formGroup]="loginForm">
                    <label for="">Tên người dùng</label>
                    <input type="text" pInputText formControlName="username" (input)="errorMsg = null">
                    <label for="">Mật khẩu</label>
                    <p-password [toggleMask]="true" [feedback]="false" formControlName="password" (ngModelChange)="errorMsg = null" />
                </div>
                @if (errorMsg != null) {
                    <p-message severity="error" size="small" variant="simple">
                        {{errorMsg}}
                    </p-message>
                }
                <div class="form-footer">
                    <button class="admin-button-dark" [loading]="loading" pButton label="ĐĂNG NHẬP" (click)="login()"></button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>