.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    gap: 15px;
}

.header header {
    text-transform: uppercase;
    font-weight: bold;
}

.form-login {
    width: 500px;
    height: max-content;
    border-radius: 6px;
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.form-footer button {
    padding: 10px 0px;
    width: 100%;
}

.btn-login {
    transition-duration: 250ms;
}
.btn-login:hover {
    filter: brightness(1.2);
}

.form-content > * {
    grid-column: span 2;;
}

@media only screen and (max-width: 768px)
{

  .form-login {
    width: calc(100% - 40px);
  }


}
