<div class="container">
    <div class="tool-bar">
        <div class="search-area">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <p-button icon="pi pi-search" severity="secondary" variant="text"/>
                </p-inputgroup-addon>
                <input pInputText placeholder="Search..." />
            </p-inputgroup>
        </div>
        <div class="categories-area">
            <div class="header">
                <header>Phân loại</header>
            </div>
            <div class="categories-list">
                @for (category of categories; track $index) {
                    <div class="item">
                        {{category.name}}
                    </div>
                }
            </div>
        </div>
        <div class="top-blog">
            <div class="header">
                <header>Top Blog</header>
            </div> 
            @for (item of topBlogs; track $index; let index = $index) {
                <div class="item">
                    <div class="num-header">{{index + 1}}</div>
                    <div class="content">
                        <div>{{item.title}}</div>
                        <small style="opacity: 0.8;">{{item.categoryId}} - {{ item.updatedAt | date }}</small>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="blog-list">
        @for (blog of blogs; track $index; let idx = $index) {
            <div class="blog-item"data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="idx * 100">
                <img class="img_overview" src="https://res.cloudinary.com/halshop/image/upload/v1742726996/cocostudio/midtown/B%E1%BA%A3n_sao_c%E1%BB%A7a__TOM3264_xu9h5e.jpg" [alt]="blog.id">
                <div class="item-content">
                    <div class="title">{{blog.title}}</div>
                    <small class="category">{{blog.category.name}}</small>
                    <button pButton class="admin-button read-more-btn">Xem thêm <i class="pi pi-arrow-right"></i></button>
                </div>
            </div>
        }
    </div>
</div>