.container {
    padding: 30px 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-page-title {
    font-size: 3em;
    font-weight: 600;
    width: 100%;
    margin: 20px 0;
}

.container .tool-bar > * {
    color: var(--dark-color);
    /* background-color: var(--neutral-color); */
    border-radius: 6px;
}

.categories-area .header, .top-blog .header {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.5em;
}

.categories-area .categories-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3ch;
    padding: 10px 0;
}

.categories-list .item {
    cursor: pointer;
    user-select: none;
    transition-duration: 100ms;
    font-size: 1.2em;
}

.categories-list .item:active, .categories-list .item:focus {
    opacity: 0.4;
}

.active {
    opacity: 0.6 !important;
    scale: 0.9 !important;
}

.top-blog {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.top-blog .item {
    display: flex;
    gap: 30px;
    cursor: pointer;
    user-select: none;
}

.top-blog .item:hover > .content {
    filter: brightness(1.5);
}

.top-blog .item .num-header {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    min-width: 2ch !important;
}
.top-blog .item .content {
   display: flex; flex-direction: column; gap: 10px; 
   transition-duration: 250ms;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: max-content;
    column-gap: 20px;
    row-gap: 20px;
}

.blog-list .blog-item {
    font-size: 1em;
}
.blog-item {
    overflow: hidden;
    cursor: pointer;
}

.blog-item .item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
    font-size: 1em;
}

.item-content > * {
    transition-duration: 200ms;
}

.blog-item:hover .item-content .title {
    filter: brightness(1.5);
}
.blog-item:hover .item-content .category {
    filter: brightness(1.5);
}

.blog-item:active .item-content .title {
    filter: brightness(1.25);
}
.blog-item:active .item-content .category {
    filter: brightness(1.25);
}

.item-content .title {
    font-size: 1.2em;
    font-weight: 600;
}
.item-content .category {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
}

.item-content .read-more-btn {
    font-size: 0.8em;
}
.item-content .read-more-btn i {
    font-size: inherit;
    transition-duration: 200ms;
}

.item-content .read-more-btn:hover i {
    transform: translateX(5px);
}

.blog-item .img_overview {
    height: 270px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}


.blog-section {
    width: 100%;

}

.blog-section .header {
    font-size: 1.5em;
    font-weight: 600;
}

.search-bar {
    max-width: 30%;
}

.blog-by-category { 
    border-radius: 6px;
    margin: 0 20px;
    padding: 20px;
    background-color: var(--neutral-color);
}


.filter-bar {
    position: relative;
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--dark-color);
}

.tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter-expand {
    position: absolute;
    left: 0;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5em;
    background-color: white;
    border-radius: 6px;
    z-index: 1000;
    padding: 20px;
    /* border: 1px solid var(--dark-color); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.filter-expand > *:not(:last-child) {
    border-right: 1px solid gray;
    padding-right: 1.5em;
}

.filter-expand > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-expand > * label {
    font-size: 1.2em;
}

@media only screen and (max-width: 768px)
{
    .blog-list {
        grid-template-columns: 1fr;
    } 
    .container {
        padding-left: 1em;
        padding-right: 1em;
    }
}