<div class="container">
    <header class="blog-page-title">BLOG</header>
    
    <!-- <div class="filter-bar">
        <div class="tool-bar">
            <div class="flex align-items-center gap-10">
                <button
                    id="filter-btn"
                    [ngClass]="{'admin-button-dark': isShowFilter, 'admin-button': !isShowFilter}" 
                    pButton 
                    icon="pi pi-filter"
                    label="Bộ lọc"
                    text="true"
                    (click)="toggleFilter()"></button>
                <div class="search-filter">
                    <p-inputgroup>
                        <input [(ngModel)]="searchStr" (input)="triggerFilter()" pInputText placeholder="Nhập tiêu đề..." />
                        <p-inputgroup-addon>
                            <p-button icon="pi pi-search" severity="secondary" variant="text" />
                        </p-inputgroup-addon>
                    </p-inputgroup>
                </div>
            </div>
            <div>
                <div class="sort-filter">
                    <p-select [options]="sortOptions" [(ngModel)]="selectedSort" (onChange)="triggerFilter()" optionLabel="title" placeholder="Sắp xếp" class="w-full md:w-56">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2" *ngIf="selectedOption">
                                <div>{{ selectedOption.title }}</div>
                            </div>
                        </ng-template>
                    </p-select>
                </div>
            </div>
        </div>

        <div class="filter-expand" *ngIf="isShowFilter" data-aos="zoom-in" data-aos-duration="200">
            <div class="category-filter">
                <label for="">Thể loại</label>
                <div class="list flex flex-column gap-10">
                    @for (category of categories; track $index) {
                        <div class="item flex align-items-center gap-10">
                            <p-checkbox (onChange)="triggerFilter()" [(ngModel)]="category.value" [binary]="true"/>
                            <span>{{category.name}}</span>
                        </div>
                    }
                </div>
            </div>
            <div class="tag-filter">
                <label for="">Thẻ</label>
                <div class="list flex flex-column gap-10">
                    @for (tag of tags; track $index) {
                        <div class="item flex align-items-center gap-10">
                            <p-checkbox (onChange)="triggerFilter()" [(ngModel)]="tag.value" [binary]="true"/>
                            <span>{{tag.name}}</span>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div> -->
    
    <div class="category-filter-bar">
        <span [class.selected]="selectedCategory == null" (click)="selectCategory()">Tất cả</span>
        @for (category of categories; track $index) {
            <span [class.selected]="selectedCategory != null && selectedCategory.name == category.name" (click)="selectCategory(category)">{{category.name}}</span>
        }
    </div>
    <div class="blog-section">
        <div class="blog-list">
            @if (filterBlogs.length == 0) {
                <div><i>Không tìm thấy bài blog nào</i></div>
            } @else {
                @for (blog of filterBlogs; track $index; let idx = $index) {
                    <div (click)="navigateBlog(blog.slug)" class="blog-item" data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="idx * 100">
                        <img class="img_overview" [src]="blog.img_overview" [alt]="blog.id" loading="lazy">
                        <div class="item-content">
                            <small class="item-publish_date">{{ blog.publishedAt | date: "dd/MM/yyyy" }}</small>
                            <div class="title">{{blog.title}}</div>
                            <small class="category">{{blog.category.name}}</small>
                            <div class="tags">
                                @for (tag of blog.tags; track $index) {
                                    <div>{{ tag.name }}</div>
                                }
                            </div>
                            <!-- <button pButton class="admin-button read-more-btn">Xem thêm <i class="pi pi-arrow-right"></i></button> -->
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>