@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
:root {
  --bright-color: #f5f4f0;
  --dark-color: #4f4135;
  --neutral-color: #e1e1e1;

  --admin-dark-color: #1f214d;
  --admin-bright-color: #f7f6fb;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  background-color: var(--bright-color);
  color: var(--dark-color);
  font-family: Calibri;
  margin: 0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--dark-color);
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--neutral-color);
}

input {
  padding: 10px 20px;
}

button {
  transition-duration: 250ms;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  color: var(--bright-color);
  border: 1px solid var(--dark-color);
  width: max-content;
}

.btn {
  background-color: var(--bright-color);
  color: var(--dark-color);
}

.btn:hover {
  filter: brightness(0.9);
}

.btn-dark {
  background-color: var(--dark-color);
  border: none;
}

.btn-dark:hover {
  filter: brightness(1.1);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  padding: 0.7rem 1rem;
  border-radius: 6px;
  width: 20em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 5px 1em #00000013;
}

/* .search__input:focus {
  outline: none;
  background-color: #f0eeee;
} */

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #898989;
}

/* .search__input:focus + .search__button {
  background-color: #f0eeee;
} */

.search__button {
  border: none;
  background-color: transparent;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: var(--dark-color);
}

.not-found-data {
  font-size: 1.5em;
  font-style: italic;
  min-height: 50vh;
}

.header-underline {
  width: 10ch;
  height: 2px;
  background-color: var(--dark-color);
}

.header-underline-dark {
  width: 10ch;
  height: 2px;
  background-color: var(--bright-color);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form .form-content {
  display: grid;
  grid-template-columns: 30% auto;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
}
.form .form-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.input-field {
  position: relative;
}

.input-field .error-field {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(100% + 3px);
  color: red;
  font-size: 0.7em;
}

.admin-button-dark, button {
  color: var(--admin-bright-color) !important;
  background-color: var(--dark-color) !important;
}

.admin-button {
  color: var(--dark-color);
  background-color: var(--bright-color) !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-10 {
  gap: 10px;
}