/* You can add global styles to this file, and also import other style files */
:root {
    --bright-color: #f5f4f0;
    --dark-color: #4f4135;
    --neutral-color: #e1e1e1;
}

body {
    background-color: var(--bright-color);
    color: var(--dark-color);
    font-family:sans-serif;
    margin: 0;
    font-size: 16px;
}

.divider {
    width: 1px;
    height: 100%;
    background-color: var(--neutral-color);
}

input {
    padding: 10px 20px;
}