<div class="request-content">
    <p-table
        [value]="requests"
        [tableStyle]="{ 'min-width': '50rem' }"
        [tableStyle]="{ 'min-width': '50rem', 'font-size': '1em' }" 
        [paginator]="true" 
        [rows]="5" 
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        dataKey="id"
        showGridlines
    >
        <ng-template #header>
            <!-- <tr>
                <th colspan="5">Về dự án</th>
                <th colspan="3"> Về khách hàng</th>
                <th colspan="2"></th>
            </tr> -->
            <tr>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Tên dự án</th>
                <th>Dịch vụ</th>
                <th>Thời gian yêu cầu</th>
                <th style="width: max-content;"></th>
            </tr>
        </ng-template>
        <ng-template #body let-request>
            <tr>
                <td>{{request.customerFullname}}</td>
                <td>{{request.customerPhone}}</td>
                <td>{{request.customerEmail}}</td>
                <td>{{ request.projectName }}</td>
                <td>{{request.selectedService}}</td>
                <td>{{request.createdAt | date}}</td>
                <td>
                    <div class="info-btn">
                        <fa-icon [icon]="InfoIcon"></fa-icon>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>