<footer>
    <div>
        <img src="../../../assets/logo.png" alt="">
    </div>
    <div>
        <header>Liên Hệ</header>
        <div class="list">
            <div>195 Nguyen Thai Son, P.4, Q.Go Vap</div>
            <div>cocostudio&#64;gmail.com</div>
            <div>+84938434666</div>
        </div>
    </div>
    <div>
        <header>Trang</header>
        <div class="list">
            <div *ngFor="let item of _mainService.menu" (click)="onNavigate(item)">
                {{item.title}}
            </div>
        </div>
    </div>
    <div>
        <header>Bản tin</header>
        <div class="sent-mail">
            <input type="text" class="sent-mail-input" placeholder="Nhập email...">
            <span class="sent-mail-button">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17l5-5-5-5v10z" />
                  </svg>
            </span>
        </div>
    </div>
</footer>