<footer>
    <div>
        <img src="../../../assets/logo.png" width="200px" alt="">
    </div>
    <div>
        <header>Liên Hệ</header>
        <div class="list">
            <div>140 Trương Văn Bang, Phường Thạnh Mỹ Lợi, Tp. Thủ Đức, TP. HCM</div>
            <div>cocostudio.interior&#64;gmail.com</div>
            <div>0905 966 687</div>
        </div>
    </div>
    <div>
        <header>Trang</header>
        <div class="list">
            <div *ngFor="let item of _mainService.menu" (click)="onNavigate(item)">
                {{item.title}}
            </div>
        </div>
    </div>
    <div>
        <header>Bản tin</header>
        <div class="sent-mail">
            <input type="text" class="sent-mail-input" pInputText placeholder="Nhập email...">

        </div>
    </div>
</footer>