footer {
  height: max-content;
  overflow: hidden;
  background-color: var(--neutral-color);
  color: var(--dark-color);
  padding: 100px 50px;
  display: grid;
  grid-template-columns: max-content repeat(3, 1fr);
  user-select: none;
  column-gap: 50px;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer > div header {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-color);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1em;
}

.list > * {
    transition-duration: 250ms;
    cursor: pointer;
}

.list > *:hover {
    filter: brightness(1.5);
}

.sent-mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.sent-mail-input {
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  padding: 0.7rem 1rem;
  border-radius: 6px;
  width: 20em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.sent-mail-input:hover,
.sent-mail-input:focus {
  box-shadow: 0 5px 1em #00000013;
}

/* .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  } */

.sent-mail-input::-webkit-input-placeholder {
  font-weight: 100;
  color: #898989;
}

/* .search__input:focus + .search__button {
    background-color: #f0eeee;
  } */

.sent-mail-button {
  border: none;
  background-color: transparent;
  margin-top: 0.1em;
}

.sent-mail-button:hover {
  cursor: pointer;
}

.sent-mail-icon {
  height: 1.3em;
  width: 1.3em;
  fill: var(--dark-color);
}

@media only screen and (max-width: 768px)
{ 
  footer {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 50px 25px;
  }
}
