<div class="container" >
    <div class="header">
        <header>Blog mới</header>
        <!-- <div class="tool-bar">
            <button class="admin-button-dark" pButton label="Xem trước" (click)="showPreview()"></button>
            <button class="admin-button-dark" [loading]="loading" pButton label="Lưu blog" (click)="saveBlog()"></button>
            <button class="admin-button-dark" pButton label="Quay về" (click)="backToMain()"></button>
        </div> -->
    </div>
    <div class="blog-form" data-aos="fade-up" data-aos-duration="500" [formGroup]="blogForm">     
        <div class="basic_info block">
            <div class="field">
                <label for="">Chủ đề</label>
                <div>
                    <!-- <textarea rows="5" cols="30" pTextarea style="resize: none;" formControlName="title"></textarea> -->
                    <input pInputText formControlName="title" style="width: 100%;" (input)="onInputTitle()">
                    <p-message severity="error" size="small" variant="simple"
                    *ngIf="submitted
                    && blogForm.invalid">
                            @if (blogForm.controls['title'].hasError('required')) {
                                Không được để trống trường này
                            }
                    </p-message>
                </div>
            </div>
            <div class="field">
                <label for="">Slug</label>
                <div>
                    <p-inputgroup>
                        <p-inputgroup-addon><span style="color: var(--dark-color);">{{ formatLink() }}</span></p-inputgroup-addon>
                        <input pInputText formControlName="slug">
                    </p-inputgroup>
                    <div class="flex align-items-center mr-tb-1_2 gap-10" style="line-height: 1;">
                        <p-checkbox formControlName="isAutoGenerateSlug" [binary]="true" (onChange)="toggleAutoGenerateSlug()"/>
                        <span>Liên kết tự động</span>
                    </div>
                    <p-message severity="error" size="small" variant="simple"
                        *ngIf="submitted
                            && blogForm.invalid
                        ">
                            @if (blogForm.controls['slug'].hasError('required')) {
                                Không được để trống trường này
                            }
                    </p-message>
                </div>
            </div>
            <div class="field">
                <label for="">Meta</label>
                <div>
                    <textarea rows="5" cols="30" pTextarea style="resize: none;" formControlName="meta_description"></textarea>
                    <p-message severity="error" size="small" variant="simple"
                    *ngIf="submitted
                        && blogForm.invalid
                    ">
                        @if (blogForm.controls['meta_description'].hasError('required')) {
                            Không được để trống trường này
                        }
                    </p-message>
                </div>
            </div>
            <div class="field">
                <label for="">Ảnh cover</label>
                <input type="file" hidden #inputFile accept="image/*" (change)="onSelectOverviewImg(inputFile.files)">
                <div>
                    <div 
                        #dragContainer
                        class="drag-drop-img" 
                        (click)="inputFile.click()" 
                        appDragDrop
                        (onFileDropped)="onFileDrop($event)"
                        >
                        @if (img_file == null) {
                            <div class="flex align-items-center flex-column" style="justify-content: center;">
                                <i class="pi pi-cloud-upload" style="padding: 1rem; border-radius: 50%; border-width: 2px; font-size: 2.25rem; font-weight: 600;"></i>
                                <p class="mt-6 mb-0">Drag and drop files to here to upload.</p>
                            </div>
                        } @else {
                            <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                                <b style="font-size: 1.2em;">{{ img_file.name }}</b>
                                <div>{{ formatSize(img_file.size) }}</div>
                                <img class="post_img_overview" role="presentation" [alt]="img_file.name" [src]="img_overview_source" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="field">
                <label style="grid-column: span 2;" for="">Nội dung bài blog</label>
                <div style="grid-column: span 2;">
                    <!-- <p-editor 
                        formControlName="content" 
                        [style]="{ height: '500px' }"
                        (onTextChange)="onTextChange($event)"
                    /> -->

                    <quill-editor formControlName="content"
                        placeholder="Nhập nội dung..."></quill-editor>
                </div>
            </div>
        </div>

        <div class="flex flex-column" style="gap: 1.5em;">
            <div class="prop_info block">
                <div class="field">
                    <label for="">Phân loại</label>
                    <div>
                        <p-select [options]="categoryOptions" optionLabel="name" optionValue="id" placeholder="Chọn phân loại" formControlName="category" appendTo="body" />
                        <p-message severity="error" size="small" variant="simple"
                            *ngIf="submitted
                                && blogForm.invalid
                            ">
                                @if (blogForm.controls['category'].hasError('required')) {
                                    Không được để trống trường này
                                }
                        </p-message>
                    </div>
                </div>
                <div class="field">
                    <label for="tags">Thẻ gán</label>
                    <div>
                        <p-multiselect [maxSelectedLabels]="2" [options]="tagOptions" formControlName="tags" placeholder="Chọn thẻ..." optionLabel="name" display="chip" appendTo="body" optionValue="id" />
                        <p-message severity="error" size="small" variant="simple"
                            *ngIf="submitted
                                && blogForm.invalid
                            ">
                                @if (blogForm.controls['tags'].hasError('required')) {
                                    Không được để trống trường này
                                }
                        </p-message>
                    </div>
                </div>
            </div>
    
            <div class="flex flex-column gap-10 actions block">
                <header class="header">Hành động</header>
                <button pButton label="Bản xem trước" icon="pi pi-eye" class="admin-button" (click)="showPreview()"></button>
                <button pButton label="Xuất bản" [loading]="loadingPublish" icon="pi pi-send" class="admin-button-dark" (click)="publishPost()"></button>
                <button pButton label="Lưu bản nháp" [loading]="loadingDraft" icon="pi pi-save" class="admin-button" (click)="saveDraft()"></button>
            </div>
        </div>
    </div>
</div>

<p-dialog
    [visible]="isPreview" header="Bản xem trước" [modal]="true" [style]="{ width: '80%' }" [maximizable]="true"
    maskStyleClass="backdrop-blur-sm" styleClass="!border-0 !bg-transparent">
    <ng-template #headless>
        <div style="margin: 20px;">
            <div class="flex" style="justify-content: space-between; margin-bottom: 20px; align-items: center;">
                <header style="font-size: 1.5em;"><b>Bản xem trước</b></header>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" (onClick)="hidePreview()" />
            </div>
            <div class="blog-container">
                <h1 class="title">{{ blogForm.controls['title'].value }}</h1>
                <small class="category">{{ blogForm.controls['category'].value }}</small>
                @let tags = blogForm.controls['tags'].value;
                @if (tags) {
                    <div class="tags">
                        <div *ngFor="let tag of tags"></div>
                    </div>
                }
                <span>{{processBlogContent(blogForm.controls['meta_description'].value)}}</span>
                <img class="img_overview" [src]="img_overview_source" alt="">
                <div class="content" [innerHTML]="processBlogContent(blogForm.controls['content'].value)"></div>
            </div>
        </div>
    </ng-template>
</p-dialog>